<!-- Modal -->
<div class="modal fade" id="modalAnonymousRelation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Comment s'abonner à un compte?</h4>
            </div>
            <div class="modal-body">
                <p>
                    Wishters vous permet de vous abonner aux comptes des utilisateurs et ainsi vous recevrez leurs annonces et messages dans votre espace.
                </p>
                <p class="strong">
                    Créer votre compte rapidement et commencez à vous abonnez.
                </p>

            </div>
            <div class="modal-footer">
                <a href="{{ path('fos_user_registration_register') }}"><button type="button" class="btn btn-primary">Inscription</button></a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>